:host([theme~="fab"]) {
    --lumo-button-size: var(--lumo-size-xl);
    border-radius: 50%;
    bottom: var(--lumo-space-m);
    box-shadow: var(--lumo-box-shadow-m);
    font-size: var(--lumo-font-size-l);
    margin: 0;
    padding: 0;
    position: absolute;
    right: var(--lumo-space-m);
}

:host([theme="primary"]:hover) {
    background-color: #802EC6;
}

:host([theme="tertiary"]:hover) {
    color: #802EC6;
}

:host([theme~="tertiary"][theme~="error"]:hover) {
    color: #FF8A80;
}

:host([theme~="outlined"]) {
    background-color: #ffffff;
    border: solid 1px #000000;
    color: #000000;
}

:host([theme~="outlined"][disabled][disabled]) {
    pointer-events: none;
    color: var(--lumo-disabled-text-color);
    background-color: var(--lumo-tint-90pct);
}