:host([required]) [part="label"]::after {
    opacity: 1;
}

[part="label"]::after {
    content: "•";
    transition: opacity 0.2s;
    opacity: 0;
    color: var(--lumo-error-text-color);
    width: 1em;
    text-align: center;
}

[part="label"] {
    margin: 0;
}

:host([theme~="user-prop-form-item"]) {
    --vaadin-form-item-label-width: var(--user-prop-form-item-label-width);
    --vaadin-form-item-row-spacing: 0;
}

:host([theme~="user-prop-form-item"]) [part="label"] {
    margin: 0 0 0 var(--lumo-space-s);
}

:host {
    align-items: center;
    --vaadin-form-item-row-spacing: 1em;
}