@media (max-width: 479px) {
    :host([theme~="mobile"]) #header {
        display: none;
    }

    :host([theme~="mobile"]:not([theme~="no-border"])) {
        border: none;
    }
}

:host {
    --_lumo-grid-selected-row-color: var(--lumo-primary-color-12pct);
}

[part~="row"]:hover > [part~="body-cell"] {
    background-color: var(--lumo-primary-color-6pct);
}


