.home-widget__container {
  display: flex;
}

.home-widget__container > a {
  flex: 1 1 1em;
  margin-left: var(--lumo-space-l);
  height: 215px;
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
  border-radius: var(--lumo-border-radius-s);
  text-decoration: none;
  color: var(--lumo-contrast);

}

.home-widget__container > a:hover {
  text-decoration: none;
}

.home-widget__container > a:first-child {
  margin-left: 0;
}

.home-widget__container > a.two {
  flex: 2 2 calc(2em + var(--lumo-space-l)); /* missing margin of the missing box */
}

.home-widget__container > a.three {
    flex: 3 3 calc(3em + var(--lumo-space-l) + 2); /* missing margin of the two missing boxes */
}


/*button*/

.home-widget__button:hover {
  background-color: var(--lumo-primary-color);
  color: var(--lumo-primary-contrast-color);
}