.login {
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-s);
    font-size: var(--lumo-font-size-s);
}

.login a {
    text-decoration: none;
}