:host([theme~="login-form"]) {
    max-width: calc(var(--lumo-size-m) * 15);
}

:host([theme~="login-form"]) [part="form-title"] {
    align-self: center;
    margin-top: 0;
    margin-bottom: var(--lumo-space-m);
}

:host([theme~="login-form"]) [part="form"] {
    padding: 0 8rem;
}

:host([theme~="login-form"]) [part="footer"] {
    display: none;
}

:host([theme~="login-form"]) {
    border-radius: var(--lumo-border-radius);
}