.sign-up__form {
    max-width: calc(var(--lumo-size-m) * 9);
    padding: var(--lumo-space-xl) 8rem;
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-s);
    background-color: var(--lumo-base-color);
    flex: 1 1 0;
}

.sign-up__logo {
    flex: 1 0 0;
    align-self: start;
}

.sign-up__logo img {
    padding-left: calc(var(--lumo-space-r-x) * 4);
}

.sign-up::after {
    flex: 1 0 0;
    content: '';
}

.sign-up {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: var(--lumo-font-size-s);
}

.sign-up a {
    text-decoration: none;
}