:host([theme~="search"]) [part~="input-field"], :host([theme~="search"]) [part~="input-field"]::after {
    background-color: var(--lumo-base-color);
}

:host([theme~="bold"]) [part~="input-field"] {
    font-weight: bold;
}

/*:host(:not([readonly])) [part="input-field"] {*/
/*    border: 1px solid var(--lumo-primary-color);*/
/*}*/

/*:host(:not([readonly])) [part="input-field"] {*/
/*    background-color: var(--lumo-base-color);*/
/*}*/

/*:host(:hover:not([readonly]):not([focused])) [part="input-field"]::after {*/
/*    opacity: 0.1;*/
/*}*/