:root {
    --user-props-form-column-spacing: calc(6 * var(--lumo-space-l));
    --user-prop-form-item-label-width: 16em;
}

.user-details-header {
    background-color: #106584;
    color: var(--lumo-base-color);
    align-items: center;
}

.user-props-form > :nth-child(2n+3) {
    background-color: var(--lumo-contrast-10pct);
}